#CSC 455 Final Project
#Spring 2017
#Data: Jun 09, 2017

## Function loadTweets which is used in the throughout the following process to load the Tweets into sqlite DB.

In [1]:
def loadTweets(tweetLines, batchRows):

    # Collect multiple rows so that we can use "executemany".
    # We insert batchRows records at a time in this function.
    #batchRows = 0
    batchedInserts_tweet = []
    batchedInserts_user = []
    batchedInserts_geo = []



    # as long as there is at least one line remaining
    while len(tweetLines) > 0:
        line = tweetLines.pop(0) # take off the first element from the list, removing it

        tweetDict = json.loads(line)

        newRow = [] # hold individual values of to-be-inserted row
        newRow2=[]


        tweetKeys = ['created_at','id_str','text','source','in_reply_to_user_id',
                     'in_reply_to_screen_name', 'in_reply_to_status_id', 
                     'retweet_count', 'contributors']
        userKeys = ['id','name','screen_name','description', 'friends_count']
        #geoKeys = ['type','longitude','lattitude']

        for key in tweetKeys:
            # Treat '', [] and 'null' as NULL
            if tweetDict[key] in ['',[],'null']:
                newRow.append(None)
            else:
                newRow.append(tweetDict[key])
        
        for key in userKeys:
            #print(tweetDict['user'][key])
            if tweetDict['user'][key] in ['',[],'null']:
                newRow.append(None)
            else:             
                newRow.append(tweetDict['user'][key])
        
       
    
        if tweetDict['geo'] !=None:    
            newRow2.append(newRow[9])
            newRow2.append(newRow[1])
            newRow2.append(tweetDict['geo']['coordinates'][0])
            newRow2.append(tweetDict['geo']['coordinates'][1])
            newRow2.append(tweetDict['geo']['type'])
        else:
            newRow2.append(newRow[9])
            newRow2.append(newRow[1])
            newRow2.append(None)
            newRow2.append(None)        
            newRow2.append(None)
        
            

        #print(newRow[0:10])
        #print(newRow[9:14])
        #print(len(newRow))

        # Add the new row to the collected batch
        batchedInserts_tweet.append(newRow[0:10])
        batchedInserts_user.append(newRow[9:14])
        batchedInserts_geo.append(newRow2)
        

        #print(batchedInserts_geo)

        
        
        # If we have reached # of batchRows, use executemany to insert what we collected
        # so far, and reset the batchedInserts list back to empty
        if len(batchedInserts_tweet) >= batchRows or len(tweetLines) == 0:
            c.executemany('INSERT or IGNORE INTO Tweet VALUES(?,?,?,?,?,?,?,?,?,?)', batchedInserts_tweet)
            c.executemany('INSERT or IGNORE INTO User VALUES (?,?,?,?,?)', batchedInserts_user)
            c.executemany('INSERT or IGNORE INTO Geo VALUES (?,?,?,?,?)', batchedInserts_geo)
            
            # Reset the batching process
            batchedInserts_tweet = []
            batchedInserts_user = []
            batchedInserts_geo = []

#Problem 1-a:
##Create Tables (Tweet, User, Geo)

In [2]:
# Problem 1-a:
#Create Table Tweet from Assignment 4 & 5
#Primary key is id_str which represent every unique tweet
tw='''Create Table Tweet(

    created_at DATE,
    id_str VARCHAR(20),
    text VARCHAR(100),
    source VARCHAR(100),
    in_reply_to_user_id VARCHAR(20),
    in_reply_to_screen_name VARCHAR(20),
    in_reply_to_status_id VARCHAR(20),
    retweet_count INTEGER(5),
    contributors VARCHAR(10),
    user_id VARCHAR(20),
    
    CONsTRAINT Tweet_PK
        PRIMARY KEY (id_str),
    
    CONSTRAINT Tweet_FK
        FOREIGN KEY (user_id)
        REFERENCES User(id),
     
    CONSTRAINT Tweet_FK_2
        FOREIGN KEY (id_Str)
        REFERENCES Geo(id_str)
   
)
'''

#Create Table User 
#The primary key is (id).
user='''Create Table User(
    id VARCHAR(20),
    name VARCHAR(30),
    screen_name VARCHAR(100),
    description VARCHAR(100),
    friends_count INTEGER(5),
    
    Constraint User_PK
        PRIMARY KEY (id)
)
'''

#Create Table Geo
#Primary Keys is defined as (User_ID, id_str). The assumption is each user could have more than one tweet,
#and users are allowed to retweet themselves' tweet. So that each tweet(id_str) ties to one user with one 
#or morecoordinates (latitude, longitude).
geo='''Create Table Geo(
    user_id VARCHAR(20),
    id_str VARCHAR(20),
    latitude integer(20),
    longitude integer(20),
    type VARCHAR(20),
    
    CONSTRAINT Geo_PK
        PRIMARY KEY (user_id,id_str),
    
    CONSTRAINT Geo_FK
        FOREIGN KEY (user_id)
        REFERENCES User(id)
)
'''

In [3]:
#Problem 1-a:
import sqlite3
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

c.execute('Drop Table if exists Tweet;')
c.execute(tw)
c.execute('Drop Table if exists User;')
c.execute(user)
c.execute('Drop Table if exists Geo;')
c.execute(geo)

conn.commit()
conn.close()

#Problem 1-b:
##Use Python to Download and Save to at least 1 million line local text file (ztweet.txt)/n
##Total Runtime is 634.27sec

In [4]:
#Problem 1-b
import urllib, time, json, sqlite3
wFD = urllib.request.urlopen('http://rasinsrv07.cstcis.cti.depaul.edu/CSC455/OneDayOfTweets.txt')

In [5]:
#Problem 1-b
count=0
tweet_lst=[]
#Record the Start time
start= time.time()
with open('ztweet.txt', 'a') as file: #Open the txt file to record the downloaded tweet
    while count < 1000000: #Record 1 milliion tweet
        content=wFD.readline() #Read Line by line
        content=content.decode() #decode all the tweet 
        try:
            json.loads(content) # Check if Tweet line is damaged
            print(content,file=file) #Store the tweet to the ztweet.txt file
            count+=1 #Count the number of tweet storeing
        except ValueError:#Error for damaged tweet:
            pass
    

end=time.time() #End the record of time
wFD.close() 
file.close()

print("Total used time:", str(end-start)) #Print out the time comsuming for the Load and Write process

Total used time: 634.2729008197784

#Problem 1-c: 
##Use Python to Download and populate the sqlite tables (Tweet, User, Geo)

##The total runtime is Total used time:  1218.14sec

In [6]:
#Problem 1-c:
import sqlite3
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()
c.execute('Drop Table if exists Tweet;')
c.execute(tw)
c.execute('Drop Table if exists User;')
c.execute(user)
c.execute('Drop Table if exists Geo;')
c.execute(geo)

conn.commit()

In [7]:
#Problem 1-c
import urllib, time, json, sqlite3
wFD = urllib.request.urlopen('http://rasinsrv07.cstcis.cti.depaul.edu/CSC455/OneDayOfTweets.txt')

In [8]:
#Problem 1-c
count=0
fail_count=0
tweet_lst=[]
#Record the Start time
start= time.time()

while count < 1000000: #Record 1 milliion tweet
    content=wFD.readline() #Read Line by line
    content=content.decode() #decode all the tweet 
    # Check if Tweet line is damaged
    try: 
        json.loads(content) 
        tweet_lst.append(content) #Store the tweet to the ztweet.txt file
        count+=1 #Count the number of tweet storeing
    except ValueError:#Error for damaged tweet:
        fail_count+=1
        pass

#With ZERO batchRows
loadTweets(tweet_lst,batchRows=0)

end=time.time() #End the record of time

conn.commit()
conn.close()    
wFD.close() 


print("Total used time:", str(end-start)) #Print out the time comsuming for the Load and Write process

Total used time: 1218.1382160186768

In [9]:
conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

In [10]:
#Total Record of tweet table
c.execute("select count(*) from tweet").fetchall()

[(999553,)]

In [11]:
#Total Record of User Table
c.execute("select count(*) from user").fetchall()

[(855488,)]

In [13]:
#Total Record of Geo Table
c.execute("select count(*) from geo;").fetchall()

[(999553,)]

In [15]:
conn.commit()
conn.close()

#Problem 1-d:
##Populate the SQL table from the local tweet table

##The Performance of 1d.(664.57sec) is better than 1c.(1218.14sec)

In [29]:
#Problem 1-d:
import sqlite3
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

c.execute('Drop Table if exists Tweet;')
c.execute(tw)
c.execute('Drop Table if exists User;')
c.execute(user)
c.execute('Drop Table if exists Geo;')
c.execute(geo)

conn.commit()

In [30]:
#Question 1-d:

import urllib, time, json, sqlite3
import pprint



start= time.time()
source=open("ztweet.txt",'r')
tweet_lst=[]
count=0
while count<1000000:
    try:
        line=source.readline()
        if not line.isspace():    
            tweet_lst.append(line)
            count+=1
    except ValueError:
        pass
#With ZERO batchRows
loadTweets(tweet_lst,batchRows=0)

end=time.time()

conn.commit()
conn.close()

print("Total used time:", str(end-start)) #Print out the time comsuming for the Load and Write process

Total used time: 664.57026720047

In [31]:
conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

In [32]:
c.execute("select count(*) from tweet;").fetchall()

[(999553,)]

In [33]:
c.execute("select count(*) from user;").fetchall()

[(855488,)]

In [34]:
c.execute("select count(*) from geo;").fetchall()

[(999553,)]

In [35]:
conn.commit()
conn.close()

#Question 1-e: 
##Repeat 1d by using batching size 1000

##By comparing to part 1d.(664.57sec), the part 1e.( 568.22sec) is about 16% faster than part 1d.

In [36]:
#Problem 1-e:
import sqlite3
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

c.execute('Drop Table if exists Tweet;')
c.execute(tw)
c.execute('Drop Table if exists User;')
c.execute(user)
c.execute('Drop Table if exists Geo;')
c.execute(geo)

conn.commit()

In [37]:
#Question 1-e: Re-run 1-d with batching size of 1000

import urllib, time, json, sqlite3
import pprint

start= time.time()
source=open("ztweet.txt",'r')
tweet_lst=[]
count=0
while count<1000000: 
    try:
        line=source.readline()
        if not line.isspace():    
            tweet_lst.append(line)
            count+=1
    except ValueError:
        pass

#With BatchRows 1000
loadTweets(tweet_lst,batchRows=1000)
end=time.time()

conn.commit()
conn.close()
print("Total used time:", str(end-start)) #Print out the time comsuming for the Load and Write process

Total used time: 568.2185599803925

In [38]:
conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

In [39]:
c.execute("select count(*) from tweet;").fetchall()

[(999553,)]

In [40]:
c.execute("select count(*) from user;").fetchall()

[(855488,)]

In [41]:
c.execute("select count(*) from geo;").fetchall()

[(999553,)]

In [42]:
conn.commit()
conn.close()

#Question 2a-i:

In [43]:
import sqlite3,time
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()


start=time.time()
data=c.execute("select id_str from tweet where (id_str LIKE ('%44%') or id_str LIKE('%77%') );").fetchall()
#for line in data:
    #print(line) 
end=time.time()

conn.commit()
conn.close()

print("The Total count of tweet's id_str with 44 or 77 is ", str(len(data)))
print("Total used time:", str(end-start)) #Print out the time comsuming for the Load and Write process

The Total count of tweet's id_str with 44 or 77 is  222673
Total used time: 0.9997780323028564

In [44]:
#Double check 10 rows of the id_str values with 44 or 77 in it.
data[11370:11380]

[('471807727509831681',),
 ('471807727509848064',),
 ('471807727509856256',),
 ('471807727510233088',),
 ('471807727510241280',),
 ('471807727510249472',),
 ('471807727510257664',),
 ('471807727514025984',),
 ('471807727514038272',),
 ('471807727514050560',)]

#Question 2a-ii:

In [45]:
import sqlite3,time
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

start=time.time()
data=c.execute("select distinct(in_reply_to_user_id) from Tweet;").fetchall()

#for line in data:
 #   print(line)
end=time.time()

conn.commit()
conn.close()

print("The Total unique values is ", str(len(data)))
print("Total used time:", str(end-start))

The Total unique values is  180406
Total used time: 4.240503787994385

In [46]:
#Double check the unique in_reply_to_user_id
data[1678:1688]

[('702870150',),
 ('2235132138',),
 ('291687597',),
 ('689183',),
 ('2520663553',),
 ('782438882',),
 ('1198988510',),
 ('2298064916',),
 ('910499400',),
 ('403773119',)]

#Question 2a-iii:
##Tweet with Shortest text message

In [47]:
import sqlite3,time
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

#Shortest Text message
start=time.time()
data=c.execute("select id_str,text from tweet where length(text)<=(select min(length(text)) from tweet);").fetchall()
end=time.time()

conn.commit()
conn.close()

print("The Total users have min length of text message is  ", str(len(data)))
print("Total used time:", str(end-start))

The Total users have min length of text message is   947
Total used time: 1.2326669692993164

In [48]:
#Double check the minimum length of text message
data[782:792]

[('471865181107003392', '.'),
 ('471865231421886466', 'Èõ∑'),
 ('471865273377488898', 'üòÇ'),
 ('471865298547527680', 'üîì'),
 ('471865529221648384', '‚úå'),
 ('471865554408443904', 'üò´'),
 ('471865655059156992', '%'),
 ('471865676039081984', '„Åß'),
 ('471865873137807361', '?'),
 ('471865961243361280', 'üò∂')]

##Tweet with Longest text message

In [50]:
import sqlite3,time
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()


#Shortest Text message
start=time.time()
data=c.execute("select id_str, text from tweet where length(text)>=(select max(length(text)) from tweet);").fetchall()
end=time.time()


conn.commit()
conn.close()


print("The Total users have max length of text message is ", str(len(data)))
print("Total used time:", str(end-start))

The Total users have max length of text message is  1
Total used time: 1.2272448539733887

In [51]:
#Double check the longest message
data

[('471815197565657088',
  'RT @Yoledingo: &lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt; http://t.co/7IqaxAzmFV vi‚Ä¶')]

##Tweet with Average Length text message

In [53]:
import sqlite3,time
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

#Average Text message
start=time.time()
data=c.execute("select id_str,text from tweet where length(text)==(select sum(length(text))/count(*) from tweet);").fetchall()
end=time.time()

conn.commit()
conn.close()

print("The Total users match the average length of text message is ", str(len(data)))
print("Total used time:", str(end-start))

The Total users match the average length of text message is  8404
Total used time: 1.2668309211730957

In [54]:
#Double check the text with Average length
data[7365:7375]

[('471867425060052992',
  'üé∂Volvere a pintar d azul el universo, hare d todo esto sea un sue√±oüé∂'),
 ('471867433435664384',
  "RT @hectoriousss: Cheryl is the Michael Jordan of Women's Basketball"),
 ('471867437642571777',
  '‚Äú@KrisHumphries: Lol. http://t.co/PfP4YNPjKm‚Äù http://t.co/B0wcUqgKUd'),
 ('471867446014377984',
  'RT @zacksback_: @Humberview_MAC THE KING HAS TAKEN HIS THRONE #OBAMA'),
 ('471867458593497088',
  'RT @KathiaLisette: Hablas de hipocres√≠a,neta? Mejor c√°llate enserio.'),
 ('471867466990116865',
  '‰∏≠ËèØ‰∏º„Å®‰∫îÁõÆ„ÇÑ„Åç„Åù„Å∞„Åå‰∏ÄÁ∑í„Å´  „ÇÑ„Åç„Åù„Å∞„ÄÅ„É©„Ç§„Çπ at ‰∏≠ÂõΩÊñôÁêÜ Ë±™ËèØÊÆø #ÊØéÊó•„Åå„É©„Éº„É°„É≥ http://t.co/LOGUQokHBq'),
 ('471867475391299584',
  'I will make sure to keep my distance........ La la..... La la la la$'),
 ('471867475361939456',
  'RT @instagranzin: faroeste caboclo dura mais que muito namoro por ai'),
 ('471867479590174720',
  '#–°–∫–∞—á–∞—Ç—å –ß–∞—Å—Ç–Ω–∞—è –ø–∞—Ç–æ–ª–æ–≥–∏—è –í–Ω—É—Ç—Ä–µ–Ω–Ω–∏–µ –±–æ–ª–µ–∑–Ω–∏ http://t.co/38YqJ6F6wi'),
 ('471867479564644352',
  'I took out my belly ring for 2 days n now it fucking closed up üò§üòñüòñüò°üò°')]

#Question 2a-iv: 
##Average latitude and longitude for every user

In [55]:
import sqlite3,time
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

#Query all the user with average latitude and longitude
start=time.time()
data=c.execute("select name, avg(latitude), avg(longitude) from user, geo where user_id=id group by id;").fetchall()
end=time.time()

conn.commit()
conn.close()

#print(len(data))
print("Total used time:", str(end-start))

Total used time: 13.115707159042358

In [56]:
data[100019:100029]

[("‚ô•…™'…´ ëPamelaBreeZzy‚ô•", None, None),
 ('Sabrina Farji', None, None),
 ('Ibnu Sina', None, None),
 ('„ÇÄ„Çâ„Åã„Åø', None, None),
 ('pettyjanice.', None, None),
 ('Zane', None, None),
 ('Noble', None, None),
 ('Ina.', None, None),
 ('HillCrusty Says', None, None),
 ('„Ç≠„É£„Éó„ÉÜ„É≥„Éª„Éû„Éº„Éô„É´Ôºè„Ç∑„É£„Ç∂„É†bot', None, None)]

In [57]:
import sqlite3,time
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

start=time.time()
#Display the users with Average latitude and longitude is NOT None
data=c.execute("select name, avg(latitude), avg(longitude) from user, geo where user_id=id group by id having (avg(latitude)>0 and avg(longitude)>0);").fetchall()

end=time.time()

conn.commit()
conn.close()

#print("The number of users with average latitude and longitude NOT None is ", str(len(data)))
print("Total used time:", str(end-start))

Total used time: 9.496263980865479

In [58]:
#Double check the user with average latitude and longitude 
data[530:540]

[('T.Aksorpakdee‚òÄ', 7.462926, 100.07471),
 ('Ceyda ', 38.439818, 38.104709),
 ('Napat', 13.859914, 100.591164),
 ('ÁéâÂ≠ê„ÅÆÂß´Êßò', 34.748275, 135.542924),
 ('–ü–∞–≤–µ–ª –ì–æ–Ω—Ç–∞—Ä—å', 55.785117, 37.600479),
 ('Aiman‚Ñ¢', 5.31301, 103.155158),
 ('JannAlvin Carl Cuabo', 6.127451, 125.172838),
 ('[Ïó¨ÏπúÎãòÏù¥Îûë Ïó¨ÌñâÏ§ë]', 35.689981, 139.847278),
 ('Ada Shuhada', 1.503104, 103.615142),
 ("B√®zzTa rhEum'z ", 49.53046, 0.11454)]

#Question 2a-V:
##Rerun 2a-iv 10 times

In [59]:
import sqlite3,time
from sqlite3 import OperationalError


start=time.time()

#Re-run 10 times as same as part 2a-iv for all the users
for i in range(10):
    conn=sqlite3.connect('zFinal.db')
    c=conn.cursor()
    data=c.execute("select name, avg(latitude), avg(longitude) from Geo, User where user_id=id group by id ;").fetchall()
    conn.commit()
    conn.close()

end=time.time()

    
print("Total used time for 10x run:", str(end-start))

Total used time for 10x run: 113.91858100891113

#Question 2a-V:
##Rerun 2a-iv 100 times

In [60]:
import sqlite3,time
from sqlite3 import OperationalError


start=time.time()

#Re-run 10 times as same as part 2a-iv for all the users
for i in range(100):
    conn=sqlite3.connect('zFinal.db')
    c=conn.cursor()
    data=c.execute("select name, avg(latitude), avg(longitude) from Geo, User where user_id=id group by id;").fetchall()
    conn.commit()
    conn.close()

end=time.time()

 
print("Total used time for 100x run:", str(end-start))

Total used time for 100x run: 1148.143183708191

#Question 2a-v Ans: 
##The time consuming is very close to linear comparing 10x (113.92sec) and 100x(1148.14sec)

#Question 2b: 
##Report the runtime use local file ztweet.txt to perform computation for 2a-i
##The runtime of 2b (80.56sec) is about 80x more than 2a-i (1 sec).

In [61]:
#Repeat 2-i with python code

lst_created_at=[]
lst_id_str=[]
lst_text=[]
lst_source=[]
lst_in_reply_to_user_id=[]
lst_in_reply_to_screen_name=[]
lst_in_reply_to_status_id=[]
lst_retweet_count=[]
lst_contributors=[]
lst_user_id=[]

lst_user_name=[]
lst_user_screen_name=[]
lst_user_description=[]
lst_user_friends_count=[]

lst_geo=[]

In [62]:
#Repeat 2a-i with python code

import urllib, time, json, sqlite3
import pprint
import pandas as pd

start=time.time()
source=open("ztweet.txt",'r')
count=0

while count<1000000:
    try:
        tweet=source.readline()
        if not tweet.isspace():    
            obj=json.loads(tweet)
            #pprint.pprint(obj)
            lst_created_at.append(obj['created_at'])
            lst_id_str.append(obj['id_str'])
            lst_text.append(obj['text'])
            lst_source.append(obj['source'])
            lst_in_reply_to_user_id.append(obj['in_reply_to_user_id'])
            lst_in_reply_to_screen_name.append(obj['in_reply_to_screen_name']),
            lst_in_reply_to_status_id.append(obj['in_reply_to_status_id']),
            lst_retweet_count.append(obj['retweet_count'],)
            lst_contributors.append(obj['contributors']),
            lst_user_id.append(obj['user']['id'])

            count+=1

    except ValueError:#Error for damaged tweet
        pass

#Form DataFrame from the Table Tweet:
df_tweet=pd.DataFrame({
"created_at":lst_created_at,
"id_str":lst_id_str,
"source":lst_source,
"in_reply_to_user_id":lst_in_reply_to_user_id,
"in_reply_to_screen_name":lst_in_reply_to_screen_name,
"in_reply_to_status_id":lst_in_reply_to_status_id,
"retweet_count":lst_retweet_count,
"contributors":lst_contributors,
"user_id":lst_user_id})

#Replace all the nan,[] cell with None
df_tweet = df_tweet.where((pd.notnull(df_tweet)), None)

print('The total number of id_str match 44 or 77 is ',
      len(df_tweet[df_tweet['id_str'].str.contains('44|77')==True]['id_str'].unique()))

end=time.time()
print("Total run time is:", str(end-start))

The total number of id_str match 44 or 77 is  222673
Total run time is: 80.55607509613037

#Question 2b: 
##Report the runtime use local file ztweet.txt to perform computation for 2a-ii
##The runtime of 2b (83.14sec) is about 20x more than 2a-i (4.24sec)

In [63]:
#Repeat 2-ii with python code
lst_created_at=[]
lst_id_str=[]
lst_text=[]
lst_source=[]
lst_in_reply_to_user_id=[]
lst_in_reply_to_screen_name=[]
lst_in_reply_to_status_id=[]
lst_retweet_count=[]
lst_contributors=[]
lst_user_id=[]

lst_user_name=[]
lst_user_screen_name=[]
lst_user_description=[]
lst_user_friends_count=[]

lst_geo=[]

In [64]:
#Repeat 2-ii with python code

import urllib, time, json, sqlite3
import pprint
import pandas as pd

start=time.time()
source=open("ztweet.txt",'r')
count=0

while count<1000000:
    try:
        tweet=source.readline()
        if not tweet.isspace():    
            obj=json.loads(tweet)
            lst_created_at.append(obj['created_at'])
            lst_id_str.append(obj['id_str'])
            lst_text.append(obj['text'])
            lst_source.append(obj['source'])
            lst_in_reply_to_user_id.append(obj['in_reply_to_user_id'])
            lst_in_reply_to_screen_name.append(obj['in_reply_to_screen_name']),
            lst_in_reply_to_status_id.append(obj['in_reply_to_status_id']),
            lst_retweet_count.append(obj['retweet_count'],)
            lst_contributors.append(obj['contributors']),
            lst_user_id.append(obj['user']['id'])

            count+=1

    except ValueError:#Error for damaged tweet
        pass

df_tweet=pd.DataFrame({
    "created_at":lst_created_at,
    "id_str":lst_id_str,
    "source":lst_source,
    "in_reply_to_user_id":lst_in_reply_to_user_id,
    "in_reply_to_screen_name":lst_in_reply_to_screen_name,
    "in_reply_to_status_id":lst_in_reply_to_status_id,
    "retweet_count":lst_retweet_count,
    "contributors":lst_contributors,
    "user_id":lst_user_id})

len(df_tweet['in_reply_to_user_id'].unique())

end=time.time()
print('The total number of unique values is ', len(df_tweet['in_reply_to_user_id'].unique()))
print("Total run time is:", str(end-start))

The total number of unique values is  180406
Total run time is: 83.14054417610168

#Question 2b: Summary

##Ans: The computation on part 2b (80.56sec) is about 10 times longer than 2a-i (1sec) 
##Ans: The computation on part 2b (83.14sec) is about 4 times longer than 2a-ii (4.24sec)

#Question 3a:

##Create the unique ID in string format by converting the user_id in the letter string format. And then add this print this new column together with the original 5 columns on the txt file (i.e. Q3b.txt)

In [65]:
import pandas as pd

#Function for generate INSERT statement and print on the txt file
def generateInsertStatement(TableName):

    aa=''
    s=','
    lst=[]
    new_id=''
    count=0

    #TableName="User"
    query="select * from " + TableName
    df = pd.read_sql_query(query, conn) #Query to form a DataFrame 
    df = df.where((pd.notnull(df)),None) #Replace all the null by None
    with open('Q3a.txt', 'a') as f: #Open the txt file
    
        #Loop for Generate new_id
        for df_row in range(df.shape[0]):
            num=df.ix[df_row][0]
            for j in num:
                new_id+=chr(ord('a')+int(j)) #Generate new_id
            lst.append(new_id)
            for df_col in range(df.shape[1]):
                lst.append(df.ix[df_row][df_col]) #store each of the attribute record in one list
            lst=tuple(lst)

            print("Insert INTO  User  Values ",lst, file=f) #Write to the txt file
          # print("Insert INTO  User  Values ",lst)
            count+=1
            lst=[]
            new_id=''

    f.close()

In [66]:
import sqlite3
from sqlite3 import OperationalError

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

#Call the function to pull up the User table and print the information onto the txt file
start=time.time()
generateInsertStatement("User")
end=time.time()

conn.commit()
conn.close()

print("Total run time is:", str(end-start))

Total run time is: 892.2526290416718

In [67]:
#Recheck the text file contents
content=open("Q3a.txt","r").readlines()
content[0:10]

["Insert INTO  User  Values  ('cbdgegaeh', '213646047', 'Wisdom Ink', 'Wisdom_Ink', 'Wisdom Ink Online Magazine:  Expressing our #joy & #love via our articles. Celebrating diversity & the growth of #consciousness. #zen #meditation #spiritual', 4821)\n",
 "Insert INTO  User  Values  ('dijfaehj', '38950479', 'Yarer Sofier', 'firekites', 'Visite nuestro stand en la planta cuarta. Gran liquidaci√≥n en rev√≥lveres, cuchillos y todos los complementos de la mujer inquieta.', 99)\n",
 "Insert INTO  User  Values  ('ceedfcgjda', '2443526930', 'Vera Luciani', 'rosaxonahag', 'Proud coffee advocate ; studies in  # all about-Devoted alcohol lover .', 261)\n",
 "Insert INTO  User  Values  ('cieibdbii', '284813188', 'J e s s', '_SameOleSHIT', None, 683)\n",
 "Insert INTO  User  Values  ('begchahjf', '146270795', 'rocio murillo lopez', 'gomitatica', None, 4)\n",
 'Insert INTO  User  Values  (\'bbegjafegg\', \'1146905466\', "Fuiste\'peroperdiste.", \'NatyEmeri\', \'Mi Idilo es aquel que a√±os atras con solo una guitarra , consiguio su sue√±o en las escaleras del teatro avon.\\r\\nBELIEBER  ‚àû\', 238)\n',
 "Insert INTO  User  Values  ('badbcjeigd', '1031294863', 'Mayara', 'foryoumartinez', None, 184)\n",
 "Insert INTO  User  Values  ('dcjeijaaf', '329489005', 'Harrison_BHS', 'Harrison_BHS', 'English teacher and sponsor of the Purbalite and Literary Guild. On a mission to stomp out bad music everywhere.', 105)\n",
 'Insert INTO  User  Values  (\'fgbfefgag\', \'561545606\', \'baddgirl‚≠êÔ∏è\', \'Damn_CeBadd\', "#TeamGet\'EmBuck‚ù§Ô∏è IG @_MixedShorty", 879)\n',
 "Insert INTO  User  Values  ('cgdcbacie', '263210284', '‚úù Stay and Believe ‚úù', 'yami_belieberJB', 'No siempre tenemos lo que queremos,aveces debemos conformarnos con lo que podemos.', 320)\n"]

Question 3b:

In [68]:
lst_user_id=[]
lst_user_name=[]
lst_user_screen_name=[]
lst_user_description=[]
lst_user_friends_count=[]

In [69]:
import urllib, time, json, sqlite3
import pprint
import pandas as pd

start=time.time()
source=open("ztweet.txt",'r')
count=0
new_id=''
lst_new_id=[]
lst=[]

while count<1000000:
    try:
        tweet=source.readline()
        if not tweet.isspace():
            obj=json.loads(tweet)
            lst_user_id.append(obj['user']['id'])
            lst_user_name.append(obj['user']['name'])
            lst_user_screen_name.append(obj['user']['screen_name'])
            lst_user_description.append(obj['user']['description'])
            lst_user_friends_count.append(obj['user']['friends_count'])
            count+=1
    except ValueError:#Error for damaged tweet
        pass

#Generate the new unique id
for df_row in range(len(lst_user_id)):
        num=lst_user_id[df_row]
        for j in str(num):
            new_id+=chr(ord('a')+int(j))
        lst_new_id.append(new_id)      
        new_id=''
        
#Forming Data Frame from the User Record with the new unique id redord
df_user=pd.DataFrame({
    "new_id":lst_new_id,
    "user_id":lst_user_id,
    "user_name":lst_user_name,
    "user_screen_name":lst_user_screen_name,
    "user_description":lst_user_description,
    "user_friends_count":lst_user_friends_count})


with open('Q3b.txt', 'a') as f:
    for df_row in range(df_user.shape[0]):        
        for df_col in range(df_user.shape[1]):
            lst.append(str(df_user.ix[df_row][df_col]))
        lst=tuple(lst)
        print("Insert INTO  User  Values ",lst, file=f)
        #print("Insert INTO  User  Values ",lst)
        lst=[]

end=time.time()
print("Total run time is:", str(end-start))

Total run time is: 1182.0010969638824

In [71]:
df_user.head()

,new_id,user_description,user_friends_count,user_id,user_name,user_screen_name
0,cbdgegaeh,Wisdom Ink Online Magazine: Expressing our #j...,4821,213646047,Wisdom Ink,Wisdom_Ink
1,dijfaehj,Visite nuestro stand en la planta cuarta. Gran...,99,38950479,Yarer Sofier,firekites
2,ceedfcgjda,Proud coffee advocate ; studies in # all abou...,261,2443526930,Vera Luciani,rosaxonahag
3,cieibdbii,None,683,284813188,J e s s,_SameOleSHIT
4,begchahjf,None,4,146270795,rocio murillo lopez,gomitatica

In [72]:
#Double check the lines on the txt file
content=open("Q3b.txt","r").readlines()
content[0:10]

["Insert INTO  User  Values  ('cbdgegaeh', 'Wisdom Ink Online Magazine:  Expressing our #joy & #love via our articles. Celebrating diversity & the growth of #consciousness. #zen #meditation #spiritual', '4821', '213646047', 'Wisdom Ink', 'Wisdom_Ink')\n",
 "Insert INTO  User  Values  ('dijfaehj', 'Visite nuestro stand en la planta cuarta. Gran liquidaci√≥n en rev√≥lveres, cuchillos y todos los complementos de la mujer inquieta.', '99', '38950479', 'Yarer Sofier', 'firekites')\n",
 "Insert INTO  User  Values  ('ceedfcgjda', 'Proud coffee advocate ; studies in  # all about-Devoted alcohol lover .', '261', '2443526930', 'Vera Luciani', 'rosaxonahag')\n",
 "Insert INTO  User  Values  ('cieibdbii', 'None', '683', '284813188', 'J e s s', '_SameOleSHIT')\n",
 "Insert INTO  User  Values  ('begchahjf', 'None', '4', '146270795', 'rocio murillo lopez', 'gomitatica')\n",
 'Insert INTO  User  Values  (\'bbegjafegg\', \'Mi Idilo es aquel que a√±os atras con solo una guitarra , consiguio su sue√±o en las escaleras del teatro avon.\\r\\nBELIEBER  ‚àû\', \'238\', \'1146905466\', "Fuiste\'peroperdiste.", \'NatyEmeri\')\n',
 "Insert INTO  User  Values  ('badbcjeigd', 'None', '184', '1031294863', 'Mayara', 'foryoumartinez')\n",
 "Insert INTO  User  Values  ('dcjeijaaf', 'English teacher and sponsor of the Purbalite and Literary Guild. On a mission to stomp out bad music everywhere.', '105', '329489005', 'Harrison_BHS', 'Harrison_BHS')\n",
 'Insert INTO  User  Values  (\'fgbfefgag\', "#TeamGet\'EmBuck‚ù§Ô∏è IG @_MixedShorty", \'879\', \'561545606\', \'baddgirl‚≠êÔ∏è\', \'Damn_CeBadd\')\n',
 "Insert INTO  User  Values  ('cgdcbacie', 'No siempre tenemos lo que queremos,aveces debemos conformarnos con lo que podemos.', '320', '263210284', '‚úù Stay and Believe ‚úù', 'yami_belieberJB')\n"]

#Question 3 Ans: 
#The method on 3a(reading from SQLITE = 892.25sec) is faster than 3b(reading from local file = 1182sec)

#Question 4-a: 

##Add the new column Euclidean Distance (Round to 4 decimal places) to Geo Table

In [74]:
import sqlite3, time
import pandas as pd
import numpy as np

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

start=time.time()
#Query out all the attributes from Table Geo includring Eul_dist (NOT yet take square root)
#Also, Round the latitude and longitude in 4 digits by using Round() function
#The distance is calculated based on the given coordinates(41.878668, -87.625555)
query='''select user_id,id_str,
            ROUND(latitude,4) as latitude, 
            ROUND(longitude,4) as longitude,
            ROUND(((latitude-(41.878668))*(latitude-(41.878668))
            +(longitude-(-87.625555))*(longitude-(-87.625555))),4) AS Eul_dist, 
            type from Geo;''' 

#Query the SQLITE to output the entire User table with Tweet_count column to DataFrame
df_geo = pd.read_sql_query(query, conn) #Query to form a DataFrame 
df_geo.round(1)
df_geo = df_geo.where((pd.notnull(df_geo)), None) #Replace the null value by None

#Note:*******Take square root of the Eul_dist from the Query result and Replace the Eul_dist value
for i in range(df_geo.shape[0]):
    if df_geo.ix[i]['Eul_dist']!=None:
        df_geo.ix[i]['Eul_dist']=np.sqrt(df_geo.ix[i]['Eul_dist'])
    else:
        pass
    
#Open the Txt file and Save the record on the Txt file
with open("Q4a.txt","a") as file:
    for i in range(df_geo.shape[0]):
        print(tuple(df_geo.ix[i]),file=file)

#End Time
end=time.time()
file.close()

conn.commit()
conn.close()

print("Total run time is:", str(end-start))

Total run time is: 302.86693692207336

In [75]:
#Check the 10 Rows of Coordinates are NOT None
df_geo[pd.notnull(df_geo['latitude'])][0:10]

        user_id              id_str latitude longitude Eul_dist   type
37    160370249  471803285741916160  14.6703   121.044  210.436  Point
91    233079540  471803289961365504  -7.3519   110.213  203.872  Point
102   146612119  471803289961771009  47.8487  -122.222  35.1078  Point
135   348864517  471803294135119872  38.7677  -77.1596  10.9185  Point
160   128825864  471803294130511872  -6.1494   106.729  200.201  Point
170   254674397  471803298337792000  52.5363   -1.5051  86.7774  Point
333  2328860924  471803306717614080  26.1985   127.699  215.895  Point
379   500289098  471803310924496896  36.1093   -115.17  28.1425  Point
400  1560357476  471803315098238976  -23.954  -46.2885  77.7348  Point
414  1631720540  471803315123396609 -29.1882  -51.2161  79.8508  Point

In [76]:
#Check 10 rows of the df_geo dataframe
df_geo[47:57]

       user_id              id_str latitude longitude Eul_dist  type
47   475343179  471803289957580802     None      None     None  None
48  2469281496  471803289957568512     None      None     None  None
49   143234106  471803289961758720     None      None     None  None
50  1675396662  471803289932406784     None      None     None  None
51  1643652104  471803289953382401     None      None     None  None
52   341545918  471803289928224768     None      None     None  None
53  1958579076  471803289927819264     None      None     None  None
54   574833053  471803289928216576     None      None     None  None
55   723455490  471803289945006081     None      None     None  None
56   171570002  471803289936621569     None      None     None  None

In [77]:
#Check the "Q4a.txt" Records
content=open("Q4a.txt","r").readlines()
content[47:57]

["('475343179', '471803289957580802', None, None, None, None)\n",
 "('2469281496', '471803289957568512', None, None, None, None)\n",
 "('143234106', '471803289961758720', None, None, None, None)\n",
 "('1675396662', '471803289932406784', None, None, None, None)\n",
 "('1643652104', '471803289953382401', None, None, None, None)\n",
 "('341545918', '471803289928224768', None, None, None, None)\n",
 "('1958579076', '471803289927819264', None, None, None, None)\n",
 "('574833053', '471803289928216576', None, None, None, None)\n",
 "('723455490', '471803289945006081', None, None, None, None)\n",
 "('171570002', '471803289936621569', None, None, None, None)\n"]

#Question 4-b:

##Add 2 columns (name, screen_name) to Tweet Table
##The percent of known locations is 2.43%

In [80]:
# Calculate the known locations percentage
#df_geo[pd.notnull(df_geo['Eul_dist'])].shape[0]
known_loc=df_geo[pd.notnull(df_geo['Eul_dist'])].shape[0]/df_geo.shape[0] *100
print("The known location (latitude, longitude) percentage is about ", str(round(known_loc,2)),'%')

The known location (latitude, longitude) percentage is about  2.43 %

In [87]:
##Add 2 columns (name, screen_name) to Tweet Table and save on txt file
conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

start=time.time()
tweetKeys = ['created_at','id_str','text','source','in_reply_to_user_id',
                     'in_reply_to_screen_name', 'in_reply_to_status_id', 
                     'retweet_count', 'contributors']
query='select name,screen_name,'+tweetKeys[0]+', '+tweetKeys[1]+', '+tweetKeys[2]+', '+tweetKeys[3]+', '+tweetKeys[4]+', '+tweetKeys[5]+', '+tweetKeys[6]+', '+tweetKeys[7]+', '+tweetKeys[8]+''' from user, tweet where id=user_id'''
df_tweet = pd.read_sql_query(query, conn) #Query to form a DataFrame 


with open('Q4b.txt','a') as file:
    for i in range(df_tweet.shape[0]):
        print(tuple(df_tweet.ix[i]),file=file)

end=time.time()

conn.commit()
conn.close()
file.close()

print("Total run time is:", str(end-start))

Total run time is: 207.02943682670593

In [88]:
df_tweet[47:52]

,name,screen_name,created_at,id_str,text,source,in_reply_to_user_id,in_reply_to_screen_name,in_reply_to_status_id,retweet_count,contributors
47,Lucre ‚ô°,LucreAndrioli,Thu May 29 00:00:44 +0000 2014,471803289957580802,"Cande linda, mi amorr te amo‚ô•","<a href=""http://twitter.com/download/android"" ...",None,None,None,0,None
48,Matias Schaab,misterchorizo23,Thu May 29 00:00:44 +0000 2014,471803289957568512,Quiero Que Sea JUEVES ‚ô•,web,None,None,None,0,None
49,G. Ajalla,GuilhermeAjalla,Thu May 29 00:00:44 +0000 2014,471803289961758720,@Brubibis Esses parasitas. Deixam-nos indeciso...,web,523746253,Brubibis,471802946280501250,0,None
50,Amy-Ann‚Ä¢,xamywatson,Thu May 29 00:00:44 +0000 2014,471803289932406784,Actually love my bestfriend so much üåé‚ù§Ô∏è,"<a href=""http://twitter.com/download/iphone"" r...",None,None,None,0,None
51,Alexandra‚úåÔ∏è,hayyimalex,Thu May 29 00:00:44 +0000 2014,471803289953382401,RT @Ellington_Chick: R5 are probably just look...,"<a href=""http://twitter.com/download/iphone"" r...",None,None,None,0,None

In [90]:
#Check the "Q4b.txt" Records
content=open("Q4b.txt","r").readlines()
content[47:52]

['(\'Lucre ‚ô°\', \'LucreAndrioli\', \'Thu May 29 00:00:44 +0000 2014\', \'471803289957580802\', \'Cande linda, mi amorr te amo‚ô•\', \'<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>\', None, None, None, 0, None)\n',
 "('Matias Schaab', 'misterchorizo23', 'Thu May 29 00:00:44 +0000 2014', '471803289957568512', 'Quiero Que Sea JUEVES ‚ô•', 'web', None, None, None, 0, None)\n",
 "('G. Ajalla', 'GuilhermeAjalla', 'Thu May 29 00:00:44 +0000 2014', '471803289961758720', '@Brubibis Esses parasitas. Deixam-nos indecisos do que realmente esta acontecendo.', 'web', '523746253', 'Brubibis', '471802946280501250', 0, None)\n",
 '(\'Amy-Ann‚Ä¢\', \'xamywatson\', \'Thu May 29 00:00:44 +0000 2014\', \'471803289932406784\', \'Actually love my bestfriend so much üåé‚ù§Ô∏è\', \'<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>\', None, None, None, 0, None)\n',
 '(\'Alexandra‚úåÔ∏è\', \'hayyimalex\', \'Thu May 29 00:00:44 +0000 2014\', \'471803289953382401\', \'RT @Ellington_Chick: R5 are probably just looking at their TL laughing grinning like the little shits they are\', \'<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>\', None, None, None, 0, None)\n']

#Question: 4-c:

##1.) Insert the tweet_count column to User Table
##2.) Report the User Name with the the most tweets (=Max tweet_count): Name of user: Alma Arafat, count = 61

In [91]:
#Display the User Name and tweet_count with the Max number of tweet
conn=sqlite3.connect('zFinal.db')
c=conn.cursor()
data=c.execute("select name, max(tweet2.AA) from user join(select user_id,count(id_str) as AA from tweet group by user_id) tweet2 where user_id=id ").fetchall() 
conn.commit()
conn.close()
data

[('Alma Arafat', 61)]

In [92]:
#Create New column and output to a Txt file
import pandas as pd
import time

conn=sqlite3.connect('zFinal.db')
c=conn.cursor()

#Start time
start=time.time()
query="select id,name,screen_name,description, friends_count,count(id_str) AS tweet_count from tweet, user where id=user_id group by id having count(id_str) order by tweet_count Desc ;"
#Query the SQLITE to output the entire User table with Tweet_count column to DataFrame
df_user = pd.read_sql_query(query, conn) #Query to form a DataFrame 
df_user = df_user.where((pd.notnull(df_user)), None) #Replace all the nan/null cell to None

#Output the above dataframe to Txt file
with open("Q4c.txt","a") as file:
    for i in range(df_user.shape[0]):
        print(tuple(df_user.ix[i]),file=file)
#End Time
end=time.time()

file.close()
conn.commit()
conn.close()

print("Total run time is:", str(end-start))

Total run time is: 178.83060717582703

In [93]:
#Check the user table from dataframe
df_user.head()

,id,name,screen_name,description,friends_count,tweet_count
0,2374595534,Alma Arafat,ArafatPidip,Second Account dari @AfatArafaat,70,61
1,1958482998,HEXAREVOLVER,HEXAREVOLVER,Official account HEXAREVOLVER,299,44
2,66652699,Sports Answerbank,SportsAB,None,8,37
3,1374693672,„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ,colorado_null,„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ...,46,22
4,770980550,„ÇÜ„ÅÜ„Åç„Åó„ÇÉ„Çì\n,85318081,Nikon„ÅÆD40X‰Ωø„Å£„Å¶„Åæ„Éº„Åô(¬¥ÔΩ•_ÔΩ•`),156,22

In [94]:
#Double check the txt file content, the last column is "tweet_count"
data=open("Q4c.txt","r").readlines()
data[0:10]

["('2374595534', 'Alma Arafat', 'ArafatPidip', 'Second Account dari @AfatArafaat', 70, 61)\n",
 "('1958482998', 'HEXAREVOLVER', 'HEXAREVOLVER', 'Official account HEXAREVOLVER', 299, 44)\n",
 "('66652699', 'Sports Answerbank', 'SportsAB', None, 8, 37)\n",
 "('1374693672', '„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ', 'colorado_null', '„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ„ÅÇ', 46, 22)\n",
 "('770980550', '„ÇÜ„ÅÜ„Åç„Åó„ÇÉ„Çì\\n', '85318081', 'Nikon„ÅÆD40X‰Ωø„Å£„Å¶„Åæ„Éº„Åô(¬¥ÔΩ•_ÔΩ•`)', 156, 22)\n",
 "('1448837792', None, 'tweetkasegida', None, 0, 21)\n",
 "('1717183141', 'via„ÅÇ„Åø„ÅÆ', 'ValaLell', '@7__su‚ÜêËÇâ‰æøÂô®', 189, 20)\n",
 "('1247697384', 'ÊÅã„É∂Â¥é', '__5i', '„ÅäÂâç„Çâ„ÅåÊÅã„Åô„Çã„Åü„Å≥„Å´‰ø∫„ÅåÁîü„Åæ„Çå„ÇãÔΩ°\\n(( Sub / @SHlTTO @5118 @51o ))', 7, 19)\n",
 "('107612546', '–ü–µ—Ä–≤—ã–π –º–∏–Ω—Å–∫–∏–π. ', 'm1pluss', '–ü–µ—Ä–≤—ã–π –º–∏–Ω—Å–∫–∏–π. –°–∞–π—Ç –ú–∏–Ω—Å–∫–∞ –∏ –º–∏–Ω—Å–∫–∏–π —Ñ–æ—Ä—É–º.\\r\\n–°–∞–π—Ç –ú–∏–Ω—Å–∫–∞. –ù–æ–≤–æ—Å—Ç–∏ –∏ –æ–±—ä—è–≤–ª–µ–Ω–∏—è –ú–∏–Ω—Å–∫–∞. –†–∞–±–æ—Ç–∞, –∞–≤—Ç–æ –∏ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å –ú–∏–Ω—Å–∫–∞, —Ñ–æ—Ç–æ  –∏ –≤–∏–¥–µ–æ –ú–∏–Ω—Å–∫–∞', 1612, 18)\n",
 "('2433446852', 'ÿ≥ŸÄÿπŸÄŸÄŸàÿØŸäŸÄŸÄÿ©', 'arbsssex', None, 0, 18)\n"]